.sticky {
  position: -webkit-sticky; /* Para compatibilidad con Safari */
  position: sticky;
  top: 0;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  background-color: black;
}

